<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Gestão de Tarefas</title>
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Gestão de Tarefas</h1>

        <!-- Formulário de Adição de Tarefas -->
        <form action="/add" method="post" class="mb-4">
            <div class="form-row">
                <div class="col">
                    <input type="text" name="titulo" class="form-control" placeholder="Título da tarefa" required>
                </div>
                <div class="col">
                    <input type="text" name="descricao" class="form-control" placeholder="Descrição da tarefa">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Adicionar Tarefa</button>
                </div>
            </div>
        </form>

        <!-- Listagem de Tarefas -->
        <ul class="list-group">
            {% for tarefa in tarefas %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <h5>{{ tarefa.titulo }}</h5>
                    <p>{{ tarefa.descricao }}</p>
                    <small>Data de criação: {{ tarefa.data_criacao.strftime('%d-%m-%Y %H:%M:%S') }}</small>
                    {% if tarefa.concluida %}
                    <br>
                    <small class="text-success">Concluída em: {{ tarefa.data_conclusao.strftime('%d-%m-%Y %H:%M:%S') }}</small>
                    {% endif %}
                </div>
                <div class="btn-group">
                    <form action="/update/{{ tarefa.id }}" method="post" class="d-inline-block mr-2">
                        <input type="hidden" name="concluida" value="{{ not tarefa.concluida }}">
                        <button type="submit" class="btn btn-sm {{ 'btn-success' if not tarefa.concluida else 'btn-warning' }}">
                            {{ 'Marcar como Concluída' if not tarefa.concluida else 'Desmarcar Conclusão' }}
                        </button>
                    </form>
                    <a href="/delete/{{ tarefa.id }}" class="btn btn-sm btn-danger">Excluir</a>
                    <a href="/edit/{{ tarefa.id }}" class="btn btn-sm btn-primary">Editar</a>
                    
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Scripts do Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
